<div class="container text-center">
    {{!-- table.table.table-bordered>tr*3>th*7 --}}
    <table class="table bordered">
        <tr>
            <th class="h2 text text-success" colspan="6">Order List</th>
            <th>
                <a class="btn btn-primary" href="/order/add">Add Order</a>
            </th>
        </tr>
        <tr>
            <th>NameCustomer</th>
            <th>Phonenumber</th>
            <th>Address</th>
            <th>Order</th>
            <th>Function</th>


        </tr>
        {{!-- heach --}}
        {{#each order }}
        <tr>
            <th>{{ NameCustomer }}</th>
            <th>{{ Phonenumber }}</th>
            <th>{{ Address }}</th>
            <th>{{ Order }}</th>
            <th>
                <a class="btn btn-warning" href="/order/edit/{{_id}}">Edit</a>
                <a class="btn btn-danger" href="/order/delete/{{_id}}"
                    onclick="return confirm('Do you want to order this toy ?');">Delete</a>
            </th>
        </tr>
        {{/each}}
    </table>
</div>